<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
        integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w=="
        crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="./style.css">
    <title>Blog</title>
</head>

<!-- font family needed -->

<body class="dark">
    <section class="text-gray-600 dark:text-gray-400 body-font  dark:bg-gray-900">
        <h1 class="text-center title-font text-lg font-medium text-gray-900 mb-3 text-3xl dark:text-white">Arkaraj's
            Blogs</h1>
        <%- include('_mode.ejs') %>
        <a href="/posts/new">
            <button class="bg-blue-500 mx-4 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                New Posts
            </button>
        </a>
        <div class="text-center text-base">Hey, I am Arkaraj .... dummy Texts for now...</div>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <% if (posts.length == 0) { %>
                <div class="text-center text-base">Oops..! Nothing is posted here Yet, Stay Tuned!!</div>
                <% } else { %>
                <% posts.forEach(post => { %>
                <div class="p-4 md:w-1/3 cursor-pointer hover:shadow-2xl rounded-lg">
                    <!-- https://dummyimage.com/720x400 -->
                    <div
                        class="h-full border-2 border-gray-200 dark:border-gray-800 border-opacity-60 rounded-lg overflow-hidden ">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="<%= post.image %> "
                            alt="blog">
                        <div class="p-6">
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 dark:text-white">
                                <%= post.title %></h1>
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray-400 dark:text-gray-500 mb-1">
                                <%= post.date.toLocaleDateString() %></h2>
                            <p class="leading-relaxed mb-3"><%= post.description %> </p>
                            <div class="flex items-center flex-wrap">
                                <a href="/posts/<%= post.slug %>"
                                    class="text-blue-500 dark:text-blue-400 inline-flex items-center md:mb-2 lg:mb-0  cursor-pointer hover:text-blue-800 hover:underline">Read
                                    More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span
                                    class="text-gray-400 dark:text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200 dark:border-gray-800 cursor-pointer">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span
                                    class="text-gray-400 dark:text-gray-500 inline-flex items-center leading-none text-sm  inline-flex items-center leading-none text-sm cursor-pointer">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                                <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) } %>


            </div>
        </div>

    </section>


    <%- include('_footer') %>

</body>
<script src="./main.js"></script>

</html>