<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icon.png" type="image/png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./custom.css">
    <title> <%= article.title %> </title>
</head>

<body class="dark">
    <section class="text-black dark:text-gray-100 body-font  dark:bg-gray-900">
        <%- include('../_mode.ejs') %>

        <h1 id="heading" class="text-4xl pl-0 py-3 ml-5"><%= article.title %></h1>
        <div class="tracking-widest text-sm title-font font-medium text-gray-400 dark:text-gray-500 ml-12"> Posted on
            <%= article.date.toLocaleDateString() %> </div>
        <div class="mt-4 mx-14">
            <a href="/"
                class="bg-blue-500 mt-3 w-full m-2 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded text-center">
                All Posts
            </a>
            <a onclick="auth()"
                class="bg-green-500 mt-3 w-full hover:bg-green-600 text-white font-bold py-2 px-4 rounded text-center cursor-pointer">
                Edit 🖋
            </a>

        </div>

        <!-- content -->
        <div
            class="sm:w-full  max-w-7xl mx-4 sm:pl-16 sm:py-8 border-gray-800 sm:border-t-0 border-t mt-4 pt-2 text-justify sm:text-center sm:mt-0">

            <!-- image  width="720" height="400" -->
            <img src=".<%= article.image %>" class="" alt="Blog image">

            <p class="leading-relaxed text-lg"><%- article.convHtml %></p>

        </div>



    </section>

    <%- include('./_disqus.ejs') %>


    <%- include('../_footer.ejs') %>
</body>
<script src="../main.js"></script>

</html>